*{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*utils*/

.pl-1{    
  padding-left: 1px;
}

.inline-block{
  display: inline-block;
}

/*<------->*/

body{
  background-color:  rgb(247, 247, 247);
}

header{
  background-color: white;
}

.title-container{
  padding: 10px 30px;
  vertical-align: middle;
}

.image-container{
  display: inline-block;
 }

.text-container{
  display: inline-block;
}

.card{
  background-color: white;
  border-radius: 10px;
  width: auto;
  margin: 40px 250px 10px;
}

.header-card{
  height: 50px;
  border-bottom: solid 2.5px rgb(247, 247, 247);
}

.add-task,
.add-section{
  display: inline-block;
  width: auto;
  font-size: 15px;
  border-radius: 4px;
  border: solid 1.2px;
  margin: 12px 2px;
}

.add-task{
  border-color: rgba(0, 165, 236, 0.96);
  background-color: rgba(0, 165, 236, 0.96);
  color: white;
  margin-left: 50px;
  padding: 4px 8px;
}

.add-section{
  border-color: rgb(216,220,222);
  color: rgb(216,220,222);
  padding: 4px 10px;
}


.body-card{
  padding: 10px 50px 10px;
}

ul{
  list-style-type: none;
}

.arrow-down::before{
  content: '\25BE'; /*html entity: &blacktriangledown;*/
}

.to-do{
  font-size: 17px;
  margin: 15px 0px;
}

.to-do::before{
  padding: 2px 4.5px;
  color: rgb(19, 174, 5);
  content: "\2713";
  border: 1.1px solid rgb(19, 174, 5);
  border-radius: 20px;
}

.editorial-btn{
  font-size: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 165, 236, 0.96);
  border-radius: 12px;
  border: solid 1.2px rgba(0, 165, 236, 0.96);
  color: white;
}